<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
         <h1 class="title">Filter</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeFilter()">Done</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <ul>
                <li>
                    <label class="item item-input item-select">
                        <div class="box-left input-label">Max. Missing Ingredients</div>
                        <select ng-model='$root.maxMissing'>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option ng-selected='true'>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </label>
                </li>
                </ul>
            </ion-list> 
        </div>
        </form>
    </ion-content>
</ion-modal-view>