<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Filter</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="closeFilter()">Done</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <ul>
        <li>
          <label class="item item-input item-select">
            <div class="box-left input-label">Max. Missing Ingredients</div>
            <select ng-model='$root.maxMissing'>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option ng-selected='true'>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </label>
        </li>
        <li class="item item-toggle">
          Exclude Ingredients?
          <label class="toggle toggle-positive">
            <input ng-model='excludeToggle' type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li ng-show='excludeToggle'>
            <span>    
            <form id = 'excludeAdd' ng-submit="excludeAdd()">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" form='excludeAdd' detect-focus on-focus="scrollContentToBottom()" ng-click='shouldNotFocusOnBlur()' on-blur="scrollContentToBottom()" focus-on-blur="focusManager.focusInputOnBlur" ng-model='excludeIngredient' onfocus="this.value=''">
                    </label>
                    <input type='submit' class= 'button button-clear button-outline button-small' value='Add'>
                </div>
            </form>
            </span>
            <ion-list show-delete='false' can-swipe='true' class='list list-inset'>
                <ion-item ng-repeat='content in excludeArray track by $index'>
                    {{content}}
                    <ion-option-button ng-click="deleteExcludeIngredient($index)" class="button-assertive icon ion-trash-a"></ion-option-button>
                </ion-item>
            </ion-list> 
        </li>
      </ul>
    </form>
  </ion-content>
</ion-modal-view>
