<ion-view view-title="Pantry">
    <ion-nav-buttons side="right">
        <a class="button button-clear" controller= 'AppCtrl' ng-click='filter()'>
            Filter
        </a>
    </ion-nav-buttons>
    <ion-content>
    <div class="bar bar-header"> <h1 class="title">My Ingredients</h1> </div>
    </br>
    </br>
        <div id="Pantry">
            <ion-list show-delete='false' can-swipe='true' class='list list-inset'>
                <ion-item ng-repeat='content in inventory track by $index'>
                    {{content}}
                    <ion-option-button ng-click="deleteIngredient($index)" class="button-assertive icon ion-trash-a"></ion-option-button>
                </ion-item>
            </ion-list> 
            <span>    
            <form id = 'pantryAdd' ng-submit="add()">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" form='pantryAdd' ng-model='ingredient' onfocus="this.value=''">
                    </label>
                    <input type='submit' class= 'button button-small' value='Add'>
                </div>
            </form>
            </span>
            </br>


            </div>
            <a id='PantrySubmit' ng-href="#/app/recipes" ng-click='getData()' class="button button-block button-positive">
                Find Recipes!
            </a>
        </div>
    </ion-content>
</ion-view>
